/*### diview */
.dv_open {
    cursor: pointer;
}

.dv_box {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.dv_layer {
    background-color: #000;
    left: 0;
    position: absolute;
    top: 0;
    opacity: 0.9;
    z-index: 1000;
}

.dv_wait,
.dv_container {
    display: none;
    position: absolute;
    z-index: 1020;
    padding: 10px;
    background-color: white;
    border: 5px solid grey;
}

.dv_wait {
    display: block;
    z-index: 1010;
}

.dv_close {
    float: right;
}
