@charset "utf-8";
*{padding:0;margin:0;}

html, body {
    margin: 0 auto;
    height: 100%;
    color: #333;
    font: normal 12px Verdana, Geneva, Arial, Helvetica, sans-serif;
    background-color: #b84;
}

a,
a:hover {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #000;
}

#page {
    margin: 0 auto;
    width: 700px;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    background-color: #fc8;
}
