#sojabox {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000
}
    #sj-head {
        overflow: auto;
        position:fixed;
        width:100%;
        background-color: #111;
        border-bottom: 2px solid #333;
        z-index: 2100
    }

        #sj-head div {
            overflow: auto;
            height: 38px
        }

            #sj-head div p {
                margin: 10px 20% 0;
                text-align: center;
                color: #ccc;
                font-size: 14px;
                font-weight: bold
            }

            #sj-head div a {
                position: absolute;
                top: 3px;
                width: 32px; height: 32px;
                background-image: url('icons.png')
            }

            #sj-panel { left: 15px; background-position: 0 -128px }

            #sj-original { left: 47px; background-position: 0 -64px }

            #sj-close { right: 15px; background-position: 0 -96px }

                #sj-panel:hover { background-position: -32px -128px }
                #sj-original:hover { background-position: -32px -64px }
                #sj-close:hover {background-position: -32px -96px }

                    #sj-original span, #sj-close span { display: none }

        #sj-wait,
        #sj-image {
            overflow: auto;
            visibility: hidden;
            position: absolute;
            z-index: 2050;
            color: #ccc
        }

        #sj-wait { display:block }

            #sj-wait img, #sj-image img {
                display: block;
                border: 5px solid #333
            }

    #sj-body {
        width: 100%;
        height: 100%
    }

        #sj-next, #sj-prev { position:absolute; z-index: 2075 }

            #sj-next a, #sj-prev a {
                display: block;
                width: 32px; height: 32px;
                background-image: url('icons.png');
            }

            #sj-next a { background-position: 0 0 }
            #sj-next a:hover { background-position: -32px 0 }
            #sj-prev a { background-position: 0 -32px }
            #sj-prev a:hover { background-position: -32px -32px }

                #sj-next a span, #sj-prev a span { display:none; }

    #sj-bottom {
        padding: 0 10px 10px 0;
        position: absolute;
        bottom: 0; right: 0;
        z-index: 2075
    }

        #sj-bottom a {
            font-size: 9px;
            color: #333;
            text-decoration: none
        }

        #sj-bottom a:hover { color: #999 }

.body { overflow: hidden }

.hide {
    width: 92px !important;
    border-right: 2px solid #333
}
